.formStyle{
display: flex;
padding: 10px;
margin-bottom: 10px;  
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
width: 300px;
background-color: white;
border: 1px solid  black;
flex-direction: column;
}

.fialdStyle{
display: block;
padding: 10px;

}

.field{
    display: block;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    display: block;
    padding: 10px;
    background-color:  white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}
.btn:hover, .btn:focus, .btn:active{
   background-color:  blue;
   color: white;
}
.err{
  background-color:  white;
  
}
.btnBlock{
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.btnDel{
       display: block;
    padding: 10px;
    background-color:  white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    color: black;
}
.btnDel:hover, .btnDel:focus, .btnDel:active{
    background-color:  red;
   color: white;
}