.modal{
   display: flex;
   gap: 30px;
   justify-content: center;
    background-color: white;
  
}

.btnYes{
background-color:blue;
}
.btnNo:hover, .btnNo:focus, .btnNo:active{
   background-color:  blue;
   color: white;
}
.btnNo{
background-color:white;
}

 .btnYes:hover, .btnYes:focus, .btnYes:active{   
   background-color:  white;
}